.card{
    margin: 1em;
    border-radius: 25px;
    border-style: solid;
    border-width: 10px;
    border-color: blue;

}

.card-header{
    text-align: left;
    padding: 10px;
}

.card-title{
    background-color: beige;
}
.text-genre, .text-words, .text-elapsed{
    background-color: beige;
    text-align: left;
    padding: 5px;
    margin: 5px;
}


.card-image-closed{
    height: 200px;
    width: auto;
}

.card-image-open{
    height: 200px;
    width: auto;
}

.card-body{
    background-color: beige;
    border: 10px solid saddlebrown;

}

button{
    padding: 10px;
}