.card{
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 2em;
    max-width: 25%;
}

.card-header{
    text-align: left;
    padding: 10px;
}

.card-title{
    background-color: beige;
}
.text-genre, .text-words, .text-elapsed{
    background-color: beige;
    text-align: left;
    padding: 5px;
    margin: 5px;
}


.card-image-closed, .card-image-open{
    height: 200px;
    width: auto;
}


.card-body{
    background-color: beige;
    border: 10px solid saddlebrown;

}

button{
    padding: 10px;
}